<% layout('layouts/post-show-layout') -%>

<h1><%= post.title %> </h1>
<div>Price: <%= post.price %> </div>
<div><%= post.description %> </div>
<div><%= post.location %> </div>
<div>
  <% post.images.forEach(image => { %>
   <img src="<%= image.url %>" alt="Surf board images" width="200px">
  <% }) %>
</div>
<div id='map'></div>
<div>
  <a href="/posts/<%= post._id %>/edit">
    <button>Edit Post</button>
  </a>
</div>
<div>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</div>

<h2>Create Review</h2>
<form action="/posts/<%= post._id %>/reviews" method="post">
  <textarea name="review[body]" required></textarea>
  <input type="number" min="1" max="5" step="1" name="review[rating]" required>
  <input type="submit">
</form>

<!-- Display Reviews -->
<h3>Reviews</h3>
<% post.reviews.forEach(review => { %>
  <div>
    Author: <%= review.author.username %> <br>
    <%= review.body %> <br>
    Rating: <%= review.rating %> 
  </div>
  <% if (review.author.equals(currentUser._id)) { %>
    <div>
      <button class="toggle-edit-form">Edit</button>
  
      <form action="/posts/<%= post._id %>/reviews/<%= review.id %>?_method=PUT" 
      method="post" class="edit-review-form">
        <textarea name="review[body]" required><%= review.body %></textarea>
        <input type="number" min="1" max="5" step="1" name="review[rating]"
        value="<%= review.rating %>" required>

        <input type="submit" value="Update">
      </form>
      
      <form action="/posts/<%= post._id %>/reviews/<%= review.id %>?_method=DELETE" 
      method="post">
        <input type="submit" value="Delete">
      </form>
    </div> 
  <% } %>
  <hr>
<% }) %>
