<% layout('layouts/post-show-layout') -%>

<h1><%= post.title %> </h1>
<div>Price: <%= post.price %> </div>
<div><%= post.description %> </div>
<div><%= post.location %> </div>
<div>
  <% post.images.forEach(image => { %>
   <img src="<%= image.url %>" alt="Surf board images" width="200px">
  <% }) %>
</div>
<div id='map'></div>
<div>
  <a href="/posts/<%= post._id %>/edit">
    <button>Edit Post</button>
  </a>
</div>
<div>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</div>